:root{
    --prymary: #98D8EF;
    --bg: #d1451b;
}

*{
    font-family: "Poppins", serif;
padding: 0;
margin: 0%;
outline: none;
border: none;
}

body{
    font-family: "";
    background-color: var(--bg);
}